version: 2.1

orbs:
  slack: circleci/slack@4.10.1

jobs:
  copying-file:
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/workspace1
    steps:
      - checkout
      - run: rm -rf *.zip *.pdf *.sql                    #removes files so there is no conflict when copying .zip from FTP server, and when extrecting .zip file.  
      - run:
          name: copy zip file from FTP server
          command: |
            ./copy-zip-file.sh
      # - persist_to_workspace:
      #     root: ~/workspace1
      #     paths: 
      #      - format.zip-file.sh

  formating-file:                                       #this whole step can be removed but added since there was a talk about more configuration. 
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/workspace1
    steps:
      - checkout
      # - attach_workspace:
      #     at: ./
      - run:
          name: formating .sql file for our use case
          command: |
            ./format.zip-file.sh           

  inserting_data:
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/workspace1
    steps:
      - checkout
      # - attach_workspace:
      #     at: ./
      - run: 
          command: |
            ./insert-data.sh
      # - run: rm -rf *        

workflows:
  montly_zipcode_refresh:
    jobs:
      - copying-file
      - formating-file:
          requires:
            - copying-file
      - inserting_data:
          requires:
            - formating-file
          filters:
            branches:
              only:
                - main