version: 2.1

orbs:
  slack: circleci/slack@4.10.1
parameters:
    work_dir:
        description: The working dir for this project
        type: string
        default: "~/repo"

jobs:
  copying-file:
    machine: true
    resource_class: baraluttam/zip-update
    steps:
      - checkout
      - run:
          name: copy zip file from FTP server
          command: |
            ./copy-zip-file.sh
      - run: pwd
      # - run: unzip *STANDARD-sql.zip

  formating-file:
    machine: true
    resource_class: baraluttam/zip-update
    steps:
      - checkout
      - run:
          name: formating .sql file for our use case
          command: |
            ./format.zip-file.sh
      - run: pwd
      
  inserting_data:
    machine: true
    resource_class: baraluttam/zip-update
    steps:
      - run: 
          command: |
            ./insert-data.sh
      - run: rm -rf *

workflows:
  montly_zipcode_refresh:
    jobs:
      - copying-file
      - formating-file:
          requires:
            - copying-files
      - inswrting_data:
          requires:
            - formating-file