version: 2.1

orbs:
  slack: circleci/slack@4.10.1

jobs:
  copying-file:
    machine: true
    resource_class: baraluttam/zip-update
    steps:
      - checkout
      - run: pwd && ls
      - run:
          name: copy zip file from FTP server
          command: |
            ./copy-zip-file.sh
      - run: pwd && ls

  formating-file:
    machine: true
    resource_class: baraluttam/zip-update
    steps:
      - checkout
      - run: pwd && ls
      - run:
          name: formating .sql file for our use case
          command: |
            ./format.zip-file.sh
      - run: pwd
      
  inserting_data:
    machine: true
    resource_class: baraluttam/zip-update
    steps:
      - checkout
      - run: 
          command: |
            ./insert-data.sh
      - run: rm -rf * && ls


workflows:
  montly_zipcode_refresh:
    jobs:
      - copying-file
      - formating-file:
          requires:
            - copying-file
      - inserting_data:
          requires:
            - formating-file