version: 2.1

orbs:
  slack: circleci/slack@4.10.1                            #added this to add notification in future

jobs:
  copying-file:
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/zip_code_update
    steps:
      - checkout
      - run: ls && rm -rf *.zip *.pdf *.sql && ls         #removes files so there is no conflict when copying .zip from FTP server, and when extrecting .zip file.  
      - run:
          name: copy zip file from FTP server
          command: |
            ./copy-zip-file.sh

  formating-file:                                         #this whole step can be removed but added since there was talk about more configuration.
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/zip_code_update
    steps:
      - checkout
      - run:
          name: formating .sql file for our use case
          command: |
            ./format.zip-file.sh           

  inserting_data:
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/zip_code_update
    steps:
      - checkout
      - run: ls && pwd
      # - run: 
      #     command: |
      #       ./insert-data.sh
      # - run: 
      #     command: |
      #       ./dropandcopytable.sh
      - run: 
          command: |
            ./sqlquary.sh

workflows:
  montly_zipcode_refresh:
    jobs:
      - copying-file
      - formating-file:
          requires:
            - copying-file
      - inserting_data:
          requires:
            - formating-file
          filters:
            branches:
              only:
                - main