version: 2.1

orbs:
  slack: circleci/slack@4.10.1

jobs:
  copying-file:
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/workspace1
    steps:
      - checkout
      - run: pwd && ls
      - run:
          name: copy zip file from FTP server
          command: |
            ./copy-zip-file.sh
      - run: pwd && ls
      - persist_to_workspace:
          root: ~/workspace1
          paths: 
           - format.zip-file.sh

  formating-file:
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/workspace1
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run: pwd && ls
      - run:
          name: formating .sql file for our use case
          command: |
            ./format.zip-file.sh
      
  inserting_data:
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/workspace1
    steps:
      - checkout
      - run: pwd && ls 
      - attach_workspace:
          at: ./
      -run: pwd && ls
      - run: 
          command: |
            ./insert-data.sh

workflows:
  montly_zipcode_refresh:
    jobs:
      - copying-file
      - formating-file:
          requires:
            - copying-file
      - inserting_data:
          requires:
            - formating-file