version: 2.1

orbs:
  slack: circleci/slack@4.10.1                  #added this to add notification in future

jobs:
  copying-file:
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/zip_code_update
    steps:
      - checkout
      - run: ls && rm -rf *.zip *.pdf *.sql && ls         #removes files so there is no conflict when copying .zip from FTP server, and when extrecting .zip file.  
      - run:
          name: copy zip file from FTP server
          command: |
            ./copy-zip-file.sh

  formating-file:                             #this whole step can be removed but added since there was talk about more configuration.
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/zip_code_update
    steps:
      - checkout
      - run:
          name: formating .sql file for our use case
          command: |
            ./format.zip-file.sh           

  inserting_data:
    machine: true
    resource_class: baraluttam/zip-update
    working_directory: ~/zip_code_update
    steps:
      - checkout
      - run:                                 #this will export/import .sql files pulled from FTP sever to "Validation.ZIPCodes" database
          command: |
            ./insert-data.sh                              
      # - run: 
      #     command: |
      #       ./dropandcopytable.sh         #this one also works, but we are currenltly using the one below this. 
      - run:
          no_output_timeout: 30m
          command: |
            ./sqlquary.sh

workflows:                                 #this will run on evry push/merge but will hold the job and have to approve manually.             
  zipcode_refresh:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - hold:
          type: approval
      - copying-file:
          requires:
            - hold
      - formating-file:
          requires:
            - copying-file
      - inserting_data:                   #should not approve it manually if you will merge to master after testing it on diffrent branch this will refresh the DB. 
          requires:
            - formating-file
          filters:
            branches:
              only:
                - main

  monthly_zipcode_refresh:               #this should only run based on trigger
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "monthly refresh", << pipeline.schedule.name >> ]
    jobs:
      - copying-file
      - formating-file:
          requires:
            - copying-file
      - inserting_data:
          requires:
            - formating-file
          filters:
            branches:
              only:
                - main