version: 2.1

orbs:
  slack: circleci/slack@4.10.1
parameters:
    work_dir:
        description: The working dir for this project
        type: string
        default: "~/repo"

jobs:
  copying-file:
    machine: true
    resource_class: baraluttam/zip-updat
    steps:
      - checkout
      - run: pwd
      - run:
          name: copy zip file from FTP server
          command: |
            ./copy-zip-file.sh

  Inserting_data:
    machine: true
    resource_class: baraluttam/zip-updat
    steps:
      - run: 
          command: |
            ./insert-data.sh
      - run: pwd

workflows:
  montly_zipcode_refresh:
    jobs:
      - copying-file
        
